.product-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(214, 208, 208);
  margin-bottom: 1rem;

  .img-wrap {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;

    img {
      width: auto;
      height: 80%;
      object-fit: contain;
    }
  }

  .product-info-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      width: 90%;
      margin-bottom: 1rem;
    }
    .subtotal {
      // align-self: flex-end;
      padding-top: 1.5rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .close-icon {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
  }
}
