nav {
    position: relative;
    background-color: rgb(146, 146, 146);
    height: 120px;

    .logo {
        position: absolute;
    }

    .searchBar {
        display: block;
        margin-left: 50px;
    }

    .iconWrap {
        position: absolute;
        transform: translate(0,-50%);
        top:50%;
        right: 0;

        ul {
            list-style: none;
            display: flex;
        }

        li {
            margin: 10px;
        }

        li:nth-child(1) {
            margin-right: 100px;
        }
    }
}
