* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  margin-bottom: 2rem;
  .back-to-main-btn {
    margin-left: 2rem;
  }

  .back-to-main-btn {
    color: #000000;
  }
  .detail-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .price-title,
    .size-title,
    .color-title,
    .quantity-title {
      font-weight: bold;
    }

    .img-wrap {
      width: 100%;
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-self: flex-start;
      border: 1px solid rgb(233, 220, 220);
      img {
        width: 350px;
      }
    }
    .description-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      padding: 0 3rem;

      .category,
      .product-name,
      .rating-star,
      .price,
      .size-wrap,
      .color-wrap {
        margin-bottom: 0.5rem;
      }

      .category {
        display: inline-block;
        align-self: flex-start;
        background: rgb(230, 226, 226);
        border-radius: 2px;
        padding: 3px 4px;
      }

      .rating-star {
        color: rgb(255, 230, 0);
        font-size: 1.5rem;
      }
      .price-title {
        font-size: 1.2rem;
      }
      .price {
        color: #ff0000;
        font-size: 2.5rem;
      }
      .description {
        text-align: justify;
        padding-bottom: 1rem;
        border-bottom: 1.5px solid rgb(204, 202, 202);
      }

      .size-title {
        padding-top: 1rem;
      }

      .size-wrap {
        .size-btn {
          width: 2.5rem;
          height: 2.5rem;
          margin: 0.15rem;
          cursor: pointer;
          background: #ffffff;
        }
      }
      .color-btn {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0.15rem;
        cursor: pointer;
        background: #ffffff;
        color: rgba(255, 255, 255, 0);
      }
      .beige {
        background: rgb(224, 203, 181);
      }
      .navy {
        background: rgb(2, 2, 100);
      }
      .gray {
        background: rgb(128, 128, 128);
      }

      .black {
        background: rgb(0, 0, 0);
      }
      .brown {
        background: rgb(114, 59, 14);
      }
      .off-white {
        background: rgb(248, 243, 243);
      }

      .quantity-wrap {
        margin-bottom: 2rem;

        .quantity {
          margin-top: 0.2rem;
          padding: 0.3rem 1rem;
          font-size: 1rem;
        }
      }
    }
  }
  .add-to-cart-btn {
    padding: 0.4rem;
    font-size: 1.2rem;
    // color: #ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    // background: #ff3c00;
    cursor: pointer;
  }
}
