.popUp {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 30;

    .popUpWrap {

        h3 {
            margin: 0;
            font-size:15pt;
        }

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        height: 150px;
        width: 500px;
        padding: 20px;

        span:nth-child(1) {
            cursor: pointer;
        }

        .closeBtn {
            cursor: pointer;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .qtyPrice {
            margin-top: 15px;
            span:nth-child(1) {
                float: left;
            }
            span:nth-child(2) {
                float: right;
            }
        }

        .viewCartBtn {
            background-color: rgb(0, 40, 87);
            color: white;
            position: absolute;
            left: 15px;
            bottom: 15px;
            cursor: pointer;
            height: 30px;
            width: 200px;
            font-size: 12pt;
        }

        .continueBtn {
            // background-color: rgb(0, 40, 87);
            // color:white;
            position: absolute;
            right: 15px;
            bottom: 15px;
            cursor: pointer;
            height: 30px;
            width: 200px;
            font-size: 12pt;
        }
    }
}
