@import "../../style/mediaquery";

.main {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: 90vw;
  @include mq-max-width("mobile") {
    width: 100vw;
  }
  min-height: calc(100vh - 60px);
  .main__wrapper {
    width: 100%;
  }
}
