@import "../../style/mediaquery";

h1 {
  margin-bottom: 1.5rem;
  width: 90vw;
  @include mq-max-width("mobile") {
    margin: 0 auto 1.5rem auto;
  }
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 90vw;
  @include mq-max-width("mobile") {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .register-address-title {
    margin-bottom: 1.7rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .address-payment-container {
    width: 50%;
    @include mq-max-width("mobile") {
      width: 100%;
    }

    .input {
      width: 50%;
      height: 1.8rem;
      @include mq-max-width("mobile") {
        width: 100%;
      }
    }

    .address-container {
      border: 1px solid rgb(221, 216, 216);
      padding: 2rem;
      margin-bottom: 1rem;
      .address-fillout-wrap {
        display: flex;
        flex-direction: column;

        .input-wrap {
          margin-bottom: 0.3rem;
          @include mq-max-width("mobile") {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    .payment-container {
      border: 1px solid rgb(221, 216, 216);
      padding: 2rem;
      margin-bottom: 1rem;
      .payment-option-title {
        margin-bottom: 1rem;
      }
      .payment-option-wrap {
        display: flex;
        margin: 0.5rem;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;

        .payment-option {
          margin-right: 2rem;
        }
      }

      .credit-fillout-wrap {
        display: flex;
        flex-direction: column;

        .input-wrap {
          margin-bottom: 0.3rem;
        }
      }
    }
  }

  .order-summary-container {
    width: 40%;
    align-self: flex-start;
    @include mq-max-width("mobile") {
      width: 100%;
    }
    .order-summary-title {
      margin-bottom: 1.7rem;
    }

    flex: flex;
    flex-direction: column;
    .order-summary-wrap {
      display: flex;
      flex-direction: column;
      .price-summary-wrap {
        border: 1px solid rgb(221, 216, 216);
        padding: 1.5rem;
        margin-bottom: 1rem;
        .price-wrap {
          width: 100%;
          padding-bottom: 1.7rem;

          .summary-label {
            width: 50%;
            float: left;
          }
          .summary-price {
            float: right;
          }
          .subtotal {
            font-weight: bold;
          }
        }
        .order-total-wrap {
          font-weight: bold;
          color: #ff3c00;
        }
      }
    }
  }
  .products-summary-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid rgb(221, 216, 216);
    margin-bottom: 2rem;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin: 1rem 0.5rem 0 0.5rem;
    }
    .quantity {
      text-align: right;
    }
  }
  .place-prder-btn {
    color: #ffffff;
    background: #ff3c00;
    padding: 0.4rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border: 1.5px solid rgb(128, 128, 128);
    border-radius: 3px;
    cursor: pointer;
    @include mq-max-width("mobile") {
      margin-bottom: 2rem;
    }
  }
}
.input-wrap {
  width: 100%;

  label {
    float: left;
  }
  input {
    float: right;
  }
}
