nav {
    position: relative;
    background-color: rgb(58, 58, 58);
    height: 80px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    z-index: 20;
    .logo {
        position: absolute;
    }

    .searchBar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        input {
            width: 30vw;
        }
        .searchBtn {
            margin-left: 5px;
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .iconWrap {
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        right: 30px;

        ul {
            list-style: none;
            display: flex;
        }

        li {
            // background-color: aqua;
            margin: 10px;
            background-color: rgb(58, 58, 58);
            z-index: 20;
            p {
                text-align: center;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                user-select: none;
            }
            .navIcon {
                height: 30px;
                width: 30px;
                color: white;
                position: relative;
                left: 50%;
                transform: translate(-50%);
            }
            .auth-button {
                color: white;
                cursor: pointer;
            }
        }

        .categoryDropdown {
            position: absolute;
            right: -30px;
            z-index: 18;
            width: 300px;
            ul {
                display: block;
                list-style: none;
                li {
                    margin: 0;
                    color: white;
                    font-size: 12pt;
                    background-color: rgb(58, 58, 58);
                    padding: 6px 10px;
                }
                li:hover {
                    background-color: cadetblue;
                }
            }

        }
    }
}
