$sizes: mobile, tablet, smTablet;

$breakpoint-max-width: (
  "mobile" : "screen and (max-width : 480px)",
  "smTablet" : "screen and (max-width : 800px)",
  "tablet" : "screen and (max-width : 1024px)",
);

@mixin mq-max-width($breakpoint) {
  @media #{map-get($breakpoint-max-width, $breakpoint)} {
    @content;
  }
}