.greetingWrap {
    // margin: 0 25px;
    // background-color: rgb(245, 245, 245);
    border-radius: 15px;
    padding: 0 25px 10px 0;
    width:fit-content;
  

    .imgWrap {
        display: inline-block;
        position: relative;
        clip-path: circle(50% at 50% 50%);
        width: 105px;
        height: 105px;
        background: white;
       
        img {
            position: absolute;
            top: 4.5px;
            left: 4.5px;
            clip-path: circle(50% at 50% 50%);
            user-select: none;
        }
    }

    h2 {
        display: inline-block;
        margin: -80px 0 0 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        user-select: none;
     
        vertical-align:middle;

    }
}
