@import "../../style/mediaquery";

.itemResultList {
    position: relative;


    h2 {
        margin: 0 0 20px 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        // user-select: none;
    }

    .itemResultWrap {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        .item {
            display: flex;
            position: relative;
            user-select: none;
            margin: 8px;

            @include mq-max-width("mobile") {
                margin: 5px;
            }
            
            a {
                margin: 8px;
                @include mq-max-width("mobile") {
                    margin: 5px;
                }
            }

            img {
                height: 180px;
                width: 180px;
                object-fit: cover;

                @include mq-max-width("mobile") {
                    height: 150px;
                    width: 150px;
                }
            }

            a:hover {
                img {
                    transform: scale(1.1);
                    transition-duration: 100ms;
                }
            }
        }
    }
}
